<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCccrVWAN0OMiU63TWtO_FaCowG2WaJj5I",
        authDomain: "yelpingcamp.firebaseapp.com",
        databaseURL: "https://yelpingcamp.firebaseio.com",
        projectId: "yelpingcamp",
        storageBucket: "yelpingcamp.appspot.com",
        messagingSenderId: "531783285075"
    };
    firebase.initializeApp(config);
</script>

<script src="/assets/lib/jquery-3.3.1.min.js"></script>
<script src="/assets/lib/bootstrap.bundle.min.js"></script>
<script src="/assets/lib/lightbox.js"></script>
<script src="/assets/js/yelpCamp.js"></script>
</body>

</html>