<!-- Header File -->
<% include partials/header %>
<!-- Header File -->

<div class="container text-center mt-5">
    <img class="landingImage" src="/assets/images/logos/nopic.png">
    <h1>Welome to yelpcamp</h1>
    <p>
        <a class="btn btn-dark btn-lg mt-3" href="/campgrounds"> View All Campgrounds </a>
    </p>
</div>
<!-- Footer File -->
<% include partials/footer %>
<!-- Footer File -->