<!-- Header File -->
<% include partials/header %>
<!-- Header File -->
<div class="container newCampgroundForm">
    <% if(currentUser) { %>
    <h4 class="text-center">You are already logged in!</h4>
    <% } else { %>

    <h4 class="text-center">Login</h4>
    <p class="text-center">Please register or login to comment or create new entries to the database.</p>
    <form name="loginForm" action="/login" method="POST">
        <input class="form-control" name="username" type="text" placeholder="Username">
        <input class="form-control" name="password" type="password" placeholder="Password">
        <button class="btn-dark btn-block">Login</button>
    </form>
    <hr>
    <h4 class="text-center"><a href="/register">Create New Account</a></h4>
</div>

<body OnLoad="document.loginForm.username.focus();">
    <% }; %>
    <!-- Footer File -->
    <% include partials/footer %>
    <!-- Footer File -->