<!-- Header File -->
<% include partials/header %>
<!-- Header File -->
<div class="container newCampgroundForm">
    <h4 class="text-center">Login</h4>
    <form action="/login" method="POST">
        <input class="form-control" name="username" type="text" placeholder="Username">
        <input class="form-control" name="password" type="password" placeholder="Password">
        <button class="btn-dark btn-block">Login</button>
    </form>
    <hr>
    <h4 class="text-center"><a href="/register">Create New Account</a></h4>
</div>
<!-- Footer File -->
<% include partials/footer %>
<!-- Footer File -->