<!-- Header File -->
<% include partials/header %>
<!-- Header File -->
<div class="container newCampgroundForm">
    <h4 class="text-center">Sign up</h4>
    <form name="registrationForm" action="/register" method="POST">
        <input class="form-control" type="text" name="username" placeholder="Username">
        <input class="form-control" type="password" name="password" placeholder="Password">
        <button class="btn-dark btn-block">Submit</button>
    </form>
</div>

<body OnLoad="document.registration.username.focus();">
    <!-- Footer File -->
    <% include partials/footer %>
    <!-- Footer File -->