<!-- Header File -->
<% include ../partials/header %>
<!-- Header File -->
<div class="container text-center p-2">
    <h4 class="text-center p-2 headFoot"> Add Campground </h4>
    <p>Add a new campground to the list</p>
    <div class="container newCampgroundForm">
        <form action="/campgrounds" encType="multipart/form-data" method="POST">
            <p>
                <input class="form-control" type="text" name="name" placeholder="* Name" maxlength="40" required>
                <input class="form-control" type="text" name="location" placeholder="* Location (City, State)"
                    maxlength="40" required>
                <input class="form-control" type="number" name="price" placeholder="Price" maxlength="8">
                <textarea class="form-control" name="information" placeholder="Information" rows="8"></textarea>
                <input type="hidden" name="MAX_FILE_SIZE" value="10485760">
                Upload Image (8MB MAX!): <input id="file" type="file" accept="image/*" name="image">
            </p>
            <button class="button btn-sm btn-dark btn-block">Submit!</button>
            <p>Please allow up to 10 seconds for processing.</p>
            <hr>
            <a class="button btn-sm btn-dark btn-block" href="/campgrounds">Back</a>
        </form>
    </div>
</div>

<script>
    var uploadField = document.getElementById("file");

    uploadField.onchange = function () {
        if (this.files[0].size > 2097152) {
            alert("File is too big!");
            this.value = "";
        };
    };
</script>
<!-- Footer File -->
<% include ../partials/footer %>
<!-- Footer File -->